body {
  font-family: "Indie Flower", cursive;
  width: 100%;
  position: sticky;
  font-size: 30px;
}
.weather-app {
  background-image: url("https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  max-width: 1000px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  height: 600px;
}

h1 {
  color: black;
  font-size: 70px;
  font-weight: 100;
  line-height: 28px;
}

li {
  color: black;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}

ul {
  margin: 0;
  padding: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 30px;
  top: -24px;
}

.search-form {
  padding: 20px;
}

.btn-primary {
  background-color: rgb(109, 43, 185);
  border: 1px solid black;
  box-shadow: 1px 1px 1px #221c1c71;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}

.btn-primary:hover {
  background-color: aqua;
  border: 1px solid aqua;
  color: black;
}

.btn-secondary {
  background-color: darkblue;
  border: 1px solid darkblue;
  font-size: 20px;
  box-shadow: 1px 1px 1px #221c1c71;
}

.btn-secondary:hover {
  background-color: bisque;
  border: 1px solid bisque;
  color: black;
}
