body {
  width: 100%;
  position: sticky;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
}

h1 {
  color: black;
  font-size: 70px;
  font-family: "Indie Flower", cursive;
}

ul {
  margin: 0 0 0px;
  padding: 25px;
  line-height: 1;
}

li {
  color: black;
  font-size: 30 px;
  font-weight: 100;
  height: 20px;
  line-height: 1;
}

.weather-app {
  background-image: url("https://images.unsplash.com/photo-1528459709161-157d86910939?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc0fHxzaW1wbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  border: 1px solid #dadde1;
  padding: 10px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1000px;
  height: 500px;
}
.temperature {
  color: rgb(4, 0, 0);
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: rgb(109, 43, 185);
  border: 1px solid black;
  box-shadow: 1px 1px 1px #221c1c71;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}

.btn-primary:hover {
  background-color: aqua;
  border: 1px solid aqua;
}

.btn-secondary {
  background-color: darkblue;
  border: 1px solid darkblue;
  font-size: 20px;
  box-shadow: 1px 1px 1px #221c1c71;
}

.btn-secondary:hover {
  background-color: bisque;
  border: 1px solid bisque;
}
