body {
  font-family: "Indie Flower", cursive;
  width: 100%;

  font-size: 30px;
}

h1 {
  color: black;
  font-size: 70px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 10px;
}

li {
  color: black;
  font-size: 30px;
  font-weight: 100;
  line-height: 19px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
}

.weather-app {
  background-image: url("https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  max-width: 1000px;
  margin: 50px auto;

  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  height: 600px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 30px;
  top: -24px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: azure;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.search-form {
  padding: 20px;
}

.btn-primary {
  background-color: rgb(109, 43, 185);
  border: 1px solid black;
  box-shadow: 1px 1px 1px #221c1c71;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}

.btn-primary:hover {
  background-color: aqua;
  border: 1px solid aqua;
  color: black;
}

.btn-secondary {
  background-color: darkblue;
  border: 1px solid darkblue;
  font-size: 20px;
  box-shadow: 1px 1px 1px #221c1c71;
}

.btn-secondary:hover {
  background-color: bisque;
  border: 1px solid bisque;
  color: black;
}
